<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= t("admin._header.project_name") %></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("admin._header.profile"), "#" %></li>
        <li><%= link_to t("admin._header.logout"), "#" %></li>
      </ul>
    </div>
  </div>
</div>
