<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= render "layouts/admin/rails_default" %>
    <%= render "layouts/admin/shim" %>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
